
<div class="flex m-auto h-screen justify-center">
      
    <form class="p-4 rounded-lg border m-auto">
        <h1 class="text-center"><b>Register</b></h1>
        <div class="my-5">
            <label for="email">Email</label>
            <input type="email" placeholder="Email Address" id="email"          class="p-2 rounded w-full border text-sm"
            >
        </div>

        <div class="my-5">
            <label for="password">Password</label>
            <input type="password" placeholder="Password" id="password" class="p-2 rounded w-full border text-sm">
        </div>

        <div class="my-5">
            <label for="Cpassword"> Confirm Password</label>
            <input type="password" placeholder="Confirm Password" id="password" class="p-2 rounded w-full border text-sm">
        </div>

        
        <div class="my-5">
            <input type="submit" class="p-2 w-full bg-purple-700 text-white hover:bg-yellow-900 rounded">
        </div>
    </form>
</div>